---
---

@import 'bootstrap/bootstrap';
@import "minima";

body, html {
    height: 100%;
}

#under-maintenance { 
    background-image: url("../assets/images/under-maintenance.jpg");
    height: 100%; 

    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}