---
layout: default
title: Who We Are
---

<header class="ms-hero ms-hero-img-church ms-hero-bg-primary pb-4 pt-4 mb-6 color-white">
    <div class="container about-container">
        <div class="text-center">
            <img src="{{ site.logo_url }}/header-logo-small-white.png" class="ms-logo ms-logo-lg ms-logo-white center-block mb-2 mt-2 animated zoomInDown animation-delay-5" alt="">
            <img src="{{ site.logo_url }}/header-logo-text-white.png" alt="" class="ms-logo-text center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">
            <p class="lead mt-2 animated zoomInDown animation-delay-5">We are an independent, Christian and Reformed Evangelical congregation. Member of the Philippine Council of Evangelical Churches (PCEC).</p>
        </div>
    </div>
</header>
<div class="container">
    <div class="card wow fadeInUp">
        <div class="card-body card-body-big">
            <h2 class="text-center fw-500">Who We Are</h2>
            <p class="lead text-center center-block mw-800">Lorem ipsum dolor sit amet. Nihil suscipit cupiditate expedita hic earum vero sint, recusandae itaque, rem distinctio.</p>

            <img src="{{ site.church_images_url }}/camp.jpg" alt="" class="img-fluid mt-4">

            <div class="panel panel-primary mt-4">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-eye"></i>
                        Vision
                    </h3>
                </div>
                <div class="panel-body">
                    We are a community of Worshippers of the Triune God, <strong>Image-bearers</strong> in <strong>identity</strong> and <strong>impact</strong>.
                </div>
            </div>

            <div class="panel panel-primary mt-4">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-crosshairs"></i>
                        Mission
                    </h3>
                </div>
                <div class="panel-body">
                    To Glorify God by Discipling God's people to become loving and compassionate <strong>Disciple-makers</strong>, and as the Father gathers His elect, <strong>nurture</strong> them to Christ-likeness and, through the Word of God and the leading of the Holy Spirit, <strong>Transform</strong> communities in the Philippines.
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-lg-6 order-lg-1">
                    <h3 class="color-primary">Our Beliefs</h3>
                    <ol class="service-list list-unstyled">
                        <li>Lorem ipsum dolor sit amet, <strong>consectetur adipisicing elit</strong>. Nihil suscipit cupiditate expedita hic earum vero sint, recusandae itaque, rem distinctio.</li>
                        <li>Totam porro sit, obcaecati quos quae iure tenetur, soluta voluptatem sapiente rerum ipsam delectus corporis voluptates voluptate, nulla mollitia pariatur.</li>
                        <li>Enim quas nesciunt sequi odit, ut <a href="#">quisquam vitae commodi</a> animi placeat nihil saepe magnam aliquam, vero harum quae doloribus aut nostrum veniam alias!</li>
                        <li>Lorem ipsum dolor sit amet, <strong>consectetur adipisicing elit</strong>. Nihil suscipit cupiditate expedita hic earum vero sint, recusandae itaque, rem distinctio.</li>
                    </ol>
                </div>
                <div class="col-lg-6 order-lg-2 text-justify">
                    <h3 class="color-primary">Know us</h3>
                    <p class="dropcaps">Fugit recusandae dolores, hic suscipit necessitatibus nobis culpa, quidem inventore molestias autem eligendi provident, natus eius reprehenderit repudiandae velit! Aut qui deleniti autem nobis laborum sapiente tempore, facere cumque tempora laudantium porro illo officiis culpa labore magnam itaque eos quia asperiores officia voluptas voluptatem est molestias architecto magni corporis. Cupiditate, voluptates, saepe.</p>
                    <p>Explicabo numquam quam amet vel laboriosam odio eaque quos esse cumque, nam deserunt ducimus odit libero asperiores necessitatibus, soluta corporis dignissimos. Delectus temporibus iusto debitis obcaecati accusantium, dolorum ad doloremque maiores optio ut magni praesentium cupiditate dolore.</p>
                    <p>Nulla delectus tempora ab ipsum molestias dolorem explicabo nihil. Officia quia iusto sint, iure nemo vitae aperiam, corrupti aliquid fugit, qui dolore voluptatibus eos quisquam obcaecati, omnis iste illum optio. Maxime atque hic vero. Doloribus eius sit laborum fugiat necessitatibus tempora facilis facere cumque, ipsum nam, temporibus, perferendis non ratione!</p>
                </div>

            </div>
        </div>
    </div>
    <div class="card card-body mt-6 card-body-big wow fadeInUp">
        <h3 class="text-center fw-500 mb-6">Church History</h3>
        <ul class="ms-timeline-left">
            <li class="ms-timeline-left-item wow fadeInUp">
                <h4>Headline</h4>
                <div class="ms-timeline-left-left">
                    <h4 class="color-primary">Title</h4>
                    <time class="ms-timeline-left-time">2015 - 2016</time>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
                <ul>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Maecenas tempus tellus eget</li>
                    <li>Donec pede justo ante</li>
                </ul>
            </li>
            <li class="ms-timeline-left-item wow fadeInUp">
                <h4>Headline</h4>
                <div class="ms-timeline-left-left">
                    <h4 class="color-primary">Title</h4>
                    <time class="ms-timeline-left-time">2015 - 2016</time>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
            </li>
            <li class="ms-timeline-left-item wow fadeInUp">
                <h4>Headline</h4>
                <div class="ms-timeline-left-left">
                    <h4 class="color-primary">Title</h4>
                    <time class="ms-timeline-left-time">2015 - 2016</time>
                </div>
                <p>Cumque pariatur eos culpa, tempore eaque necessitatibus earum ut, aperiam, adipisci, laudantium tempora ipsa harum quae sapiente rerum doloribus voluptatum. Obcaecati iusto quibusdam nesciunt unde, suscipit! Dolorem error.</p>
                <p>Iure quae, voluptates laudantium. Eaque fugiat labore aliquam, explicabo, iste nam modi esse. Esse ea, perspiciatis alias non natus reprehenderit id omnis.</p>
            </li>
        </ul>
    </div>
    <div class="card mt-6 wow fadeInUp">
        <div class="card-body card-body-big">
            <h3 class="text-center fw-500 mb-4">Ordained Pastors</h3>

            <div class="row d-flex justify-content-center">
                {% assign pastors = site.data.members | where: "category", "pastors" %}
                {% for pastor in pastors  %}
                {% assign image_name = pastor.name | replace: " ", "_" %}
                <div class="col-lg-4 col-md-6">
                    <div class="card card-flat wow zoomInUp">
                        <div>
                            <img src="{{ site.member_images_url }}/{{ image_name }}.jpg" alt="..." class="img-avatar-circle img-avatar-circle-lg">
                        </div>
                        <div class="card-body pt-6 text-center">
                            <h4 class="color-primary">
                                {{ pastor.name }}
                                {% if pastor.name  == "Rev. Dr. Cornelio Castillo" %}
                                <img src="assets/img/cross.png" style="width: 20px;">
                                {% endif %}
                            </h4>
                            <h5 class="mt-0">
                                {{ pastor.role }}
                            </h5>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>