<head>

    {% include analytics.liquid %}

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="#333">
    <meta name="description" content="The Bread From Heaven Christian Fellowship, Inc. is an independent, Christian and Reformed Evangelical congregation. Member of the Philippine Council of Evangelical Churches (PCEC).">
<!--    <link rel="shortcut icon" href="assets/img/favicon.png?v=3">-->
    
    {% include styles.liquid %}

    {% include scripts.liquid %}

    <title>
        {% if page.title == 'Home' %}
            {{ site.title }}
        {% else %}
            {{ page.title }} | {{ site.title }}
        {% endif %}

    </title>
    {% if page.image and page.category-name %}
    <meta property="og:image" content="https://res.cloudinary.com/bfhcf/image/upload/c_scale,w_627/{{ page.category-name }}/{{ page.image }}" />
    {% else %}
    <meta property="og:image" content="https://res.cloudinary.com/bfhcf/image/upload/c_scale,w_630/logos/bfhcf-og-image-logo_xj7m3i.png" />
    {% endif %}

    {% seo %}



</head>
