<div class="ms-hero-page-override ms-hero-img-church ms-hero-bg-primary overflow-hidden ms-bg-fixed">
    <div class="container">
        <div class="text-center color-white">
            <img src="{{ site.logo_url }}/header-logo-small-white.png" class="ms-logo ms-logo-xl ms-logo-white center-block mb-2 mt-2 animated zoomInDown animation-delay-5" alt="">
            <img src="{{ site.logo_url }}/header-logo-text-white.png" alt="" class="ms-logo-text  center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">
            <p class="lead lead-lg color-white text-center center-block mt-2 mw-800 text-uppercase fw-300 animated fadeInUp animation-delay-7">We are an <span class="color-warning">independent</span>, <span class="color-warning">Christian</span> and <span class="color-warning">Reformed Evangelical</span> congregation. Member of the Philippine Council of Evangelical Churches (PCEC).</p>
            <div class="img-browser-container mt-6">
<!--                <img src="assets/img/demo/safariBig1.png" alt="" class="img-fluid center-block index-1 img-browser animated slideInUp">-->
<!--                <img src="assets/img/demo/safariBig3.png" alt="" class="img-fluid center-block img-browser img-browser-left img-browser-left">-->
<!--                <img src="assets/img/demo/safariBig2.png" alt="" class="img-fluid center-block img-browser img-browser-right img-browser-right">-->
            </div>
        </div>
    </div>
</div>

