<div class="ms-hero-page-override ms-hero-img-church ms-hero-bg-primary overflow-hidden ms-bg-fixed">
    <div class="container">
        <div class="text-center color-white">
            <img src="/assets/img/header-logo-small-white.png" class="ms-logo ms-logo-xl ms-logo-white center-block mb-2 mt-2 animated zoomInDown animation-delay-5" alt="">
            <h1> Giving </h1>
            <p class="lead lead-lg color-white text-center center-block mt-2 mw-800 text-uppercase fw-300 animated fadeInUp animation-delay-7">For God <span class="color-warning">so loved</span> the world that He <span class="color-warning">gave....</span>
                Where are you investing your life today? Invest in things of eternal value. You have been blessed in order to be a blessing to others.
            </p>
        </div>
        <div class="text-center mb-2 mt-4">
            <a id="go-intro-fixed-next" href="#ways-to-give" class="arrow btn-circle btn-circle-raised btn-circle-white animated zoomInUp animation-delay-12"><i class="zmdi zmdi-long-arrow-down"></i></a>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $(".arrow").on('click', function(event) {
            if (this.hash !== "") {
                event.preventDefault();
                var hash = this.hash;
                $('html, body').animate({
                    scrollTop: $(hash).offset().top
                }, 800);
                return false;
            }
        });
    });
</script>