<div class="wrap container">
    <section class="ms-component-section wow fadeInUp animation-delay-2 text-center">
        <h1 class="section-title">Featured Video</h1>

        <h3 class="text-center">
            <span class="ms-icon ms-icon-lg">
                <i class="fa fa-book color-light"></i>
            </span>

            TULIP: Total Depravity
            <span class="ms-icon ms-icon-lg ml-2">
                <i class="fa fa-user color-light"></i>
            </span>

            Rev. Norman Manlapaz
        </h3>
        <div class="card">
            <div data-plyr-provider="youtube" data-plyr-embed-id="HIYMq7Q4Zy4" class="js-player"></div>
        </div>
    </section>
</div> <!-- container -->