<section id="services" class="">
    <div class="wrap ms-hero-img-camp ms-hero-bg-info color-white ms-bg-fixed">
        <div class="container">
            <div class="text-center mb-4">
                <h1 class="wow zoomInDown">About Us</h1>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="wow fadeInUp animation-delay-2">Vision</h3>
                    <p class="wow fadeInUp animation-delay-3">We are a community of Worshippers of the Triune God, <strong>Image-bearers</strong> in <strong>identity</strong> and <strong>impact</strong>.</p>

                    <h3 class="wow fadeInUp animation-delay-2">Mission</h3>
                    <p class="wow fadeInUp animation-delay-3">To Glorify God by Discipling God's people to become loving and compassionate <strong>Disciple-makers</strong>, and as the Father gathers His elect, <strong>nurture</strong> them to Christ-likeness and, through the Word of God and the leading of the Holy Spirit, <strong>Transform</strong> communities in the Philippines.</p>

                </div>
            </div>
            <div class="mt-6 color-dark">
                <div class="card-body-big">
                    <h2 class="color-white text-center mb-4">Get Involved</h2>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="card card-body overflow-hidden text-center wow zoomInUp animation-delay-2">
                                <i class="fa fa-4x fa-users color-bfhcf-cyan"></i>
                                <h3 class="color-bfhcf-cyan">CALL</h3>
                                <p class="mt-2 no-mb color-dark">Refers to the  Call of the Father for His elect. It deals with the gathering of His elect as provided in our Church Mission through evangelism. </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="card card-body overflow-hidden text-center wow zoomInUp animation-delay-5">
                                <i class="fa fa-4x fa-tree color-bfhcf-cyan"></i>
                                <h3 class="color-bfhcf-cyan">CULTIVATE</h3>
                                <p class="mt-2 no-mb color-dark">Refers to the growth of a believer in the faith to become Spiritually mature. It aims to help a believer grow from infancy to adulthood in his Christian living. It also refers to intentional discipleship as each believer is nurtured to Christlikeness. Nurturing of the spirit. </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="card card-body overflow-hidden text-center wow zoomInUp animation-delay-4">
                                <i class="fa fa-4x fa-heart color-bfhcf-cyan"></i>
                                <h3 class="color-bfhcf-cyan">CARE</h3>
                                <p class="mt-2 no-mb color-dark">Refers to the outpouring of the gifts of the Holy Spirit in nurturing the physical aspect of a believer. </p>
                            </div>
                        </div>
                    </div>
                    <div class="text-center color-white mw-800 center-block mt-4">
                        <p class="lead lead-lg text-center mt-4 color-light">We are looking forward to serving God with you!</p>
                        <a href="/who-we-are" class="btn btn-raised btn-white btn-xlg color-info wow flipInX animation-delay-8"><i class="fa fa-space-shuttle"></i> I want to know more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>