{% for ministry in site.data.ministries %}
<div class="col-lg-3 col-md-4 col-sm-6">
    <div class="card wow zoomIn">
        <div class="ms-thumbnail card-body p-05 ">
            <div class="withripple card-{{ ministry.color }}">
                <a href="/ministries/{{ ministry.slug }}"><img src="{{ site.ministry_logo_thumbnail_url }}/{{ ministry.slug }}.png" alt="" class="img-fluid img-md {% if ministry.slug  == 'cgm' %} cgm-alternate-img {% endif %}"></a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
