<div class="wrap bg-bfhcf-dark">
    <div class="container">
        <div class="text-center wow fadeInUp animation-delay-7 mt-6 mb-4">
            <div class="row color-dark justify-content-center">
                <div class="col-xl-12 col-lg-12 col-sm-12">
                    <img src="{{ site.monthly_themes_images_url }}/2024-01-theme.png" alt="" class="img-fluid">
                </div>
            </div>

        </div>

        <div class="text-center color-white mw-800 center-block mb-4">
            <h2 class=" mb-2 wow fadeInDown animation-delay-4">Attend our services</h2>
            <p class="lead wow fadeInDown animation-delay-5">You are always welcome to worship with us through fellowship and study of His Word. Let's unite together as one in faith at our church services. Our church services and fellowships are both done face-to-face and online. </p>
            <p class="lead wow fadeInDown animation-delay-5">Please follow us on <a class="btn btn-raised btn-facebook" href="{{ site.facebook_url }}" target="_blank"><i class="zmdi zmdi-facebook"></i>Facebook</a> and <a class="btn btn-raised btn-youtube" href="{{ site.youtube_channel_url }}" target="_blank"><i class="zmdi zmdi-youtube"></i>YouTube</a> to view our online services.</p>
        </div>

        <h3 class="color-white mb-3 wow fadeInDown animation-delay-4 text-center">SUNDAY SERVICES</h3>
        <div class="row color-dark">
            <div class="col-xl-4 col-lg-4 col-sm-4">
                <div class="card card-royal-inverse bg-bfhcf-purple wow fadeInLeft animation-delay-3">
                    <div class="text-center card-body">
                        <span class="ms-icon ms-icon-circle ms-icon-white ms-icon-xxlg"><i class="icon ion-ios-book color-bfhcf-purple"></i></span>
                        <h4 class="color-light">Tagalog Service</h4>
                        <h5 class="color-light">(With Live Streaming & Sunday School)</h5>
                        <p class="">8:00am - 9:30am</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-sm-4">
                <div class="card card-success-inverse bf-bfhcf-green wow fadeInRight animation-delay-3">
                    <div class="text-center card-body">
                        <span class="ms-icon ms-icon-circle ms-icon-white ms-icon-xxlg"><i class="icon ion-ios-book color-bfhcf-green"></i></span>
                        <h4 class="color-light">English Service</h4>
                        <h5 class="color-light">(With Live Streaming & Sunday School)</h5>
                        <p class="">10:30am - 12:00pm</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-sm-4">
                <div class="card card-danger-inverse bg-bfhcf-red wow fadeInRight animation-delay-4">
                    <div class="text-center card-body">
                        <span class="ms-icon ms-icon-circle ms-icon-white ms-icon-xxlg "><i class="icon ion-ios-book color-bfhcf-red"></i></span>
                        <h4 class="color-light">Tagalog-English Service</h4>
                        <h5 class="color-light">(No Live Streaming & Sunday School)</h5>
                        <p class="">5:00pm - 6:30pm</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center wow fadeInUp animation-delay-7 mt-6">
            <h3 class="color-white mb-3 wow fadeInDown animation-delay-4">WEEKLY MINISTRY ACTIVITIES</h3>

            <div class="row color-dark justify-content-center">
                <div class="col-xl-12 col-lg-12 col-sm-12">
                    <img src="{{ site.church_images_url }}/bfhcf-online-schedules-v8" alt="" class="img-fluid">
                </div>

            </div>
            <p class="lead lead-lg color-white text-center center-block mt-6 mw-800 text-uppercase fw-300 mb-2">If you have questions with regards to the schedules, don't hesitate to contact us.</p>
            <a href="/contact" class="btn btn-white btn-xlg btn-raised color-bfhcf-black"><i class="zmdi zmdi-email"></i> Contact Us</a>
        </div>
    </div> <!-- container -->
</div>

<script type="text/javascript">

	function getGuidelineUrl() {
		var mykey = "{{site.youtube_api_key}}",
			videoId = "SegncqvU_9A";

		return `https://www.googleapis.com/youtube/v3/videos?part=snippet&id=${videoId}&key=${mykey}`;
	}

</script>