<div class="wrap bg-bfhcf-cyan">
    <div class="container">
        <div class="text-center color-white mw-800 center-block mb-4">
            <h2 class=" mb-2 wow fadeInDown animation-delay-4">Attend our services</h2>
            <p class="lead wow fadeInDown animation-delay-5">You are always welcome to worship with us through fellowship and study of His Word. Let's unite together as one in faith at our church services.</p>

            <h3 class=" mb-3 wow fadeInDown animation-delay-4">SUNDAY SERVICES</h3>
        </div>
        <div class="row color-dark">
            <div class="col-xl-3 col-lg-6 col-sm-6">
                <div class="card card-warning-inverse bg-bfhcf-orange wow fadeInLeft animation-delay-4">
                    <div class="text-center card-body">
                        <span class="ms-icon ms-icon-circle ms-icon-white ms-icon-xxlg"><i class="icon ion-ios-book color-bfhcf-orange"></i></span>
                        <h4 class="color-light">Traditional Service</h4>
                        <p class="">7:00am - 8:00am</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-sm-6">
                <div class="card card-royal-inverse bg-bfhcf-purple wow fadeInLeft animation-delay-3">
                    <div class="text-center card-body">
                        <span class="ms-icon ms-icon-circle ms-icon-white ms-icon-xxlg"><i class="icon ion-ios-book color-bfhcf-purple"></i></span>
                        <h4 class="color-light">Tagalog Service</h4>
                        <p class="">8:30am - 10:00am</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-sm-6">
                <div class="card card-success-inverse bf-bfhcf-green wow fadeInRight animation-delay-3">
                    <div class="text-center card-body">
                        <span class="ms-icon ms-icon-circle ms-icon-white ms-icon-xxlg"><i class="icon ion-ios-book color-bfhcf-green"></i></span>
                        <h4 class="color-light">English Service</h4>
                        <p class="">10:30am - 12:00pm</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-sm-6">
                <div class="card card-danger-inverse bg-bfhcf-red wow fadeInRight animation-delay-4">
                    <div class="text-center card-body">
                        <span class="ms-icon ms-icon-circle ms-icon-white ms-icon-xxlg "><i class="icon ion-ios-book color-bfhcf-red"></i></span>
                        <h4 class="color-light">Tagalog-English Service</h4>
                        <p class="">5:00pm - 6:30pm</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center wow fadeInUp animation-delay-7 mt-2">
            <h3 class="color-white mb-3 wow fadeInDown animation-delay-4">OTHER SERVICES</h3>

            <div class="row color-dark justify-content-center">
                <div class="col-xl-3 col-lg-6 col-sm-6">
                    <div class="card card-warning wow fadeInLeft animation-delay-3">
                        <div class="text-center card-body">
                            <span class="ms-icon ms-icon-circle ms-icon-xxlg bg-bfhcf-orange"><i class="icon ion-ios-book"></i></span>
                            <h4 class="color-bfhcf-orange">Young People / Young Professionals</h4>
                            <p class="">Saturday: 7:30pm - 9:00pm</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-sm-6">
                    <div class="card card-royal wow fadeInRight animation-delay-3">
                        <div class="text-center card-body">
                            <span class="ms-icon ms-icon-circle ms-icon-xxlg bg-bfhcf-purple"><i class="icon ion-ios-book"></i></span>
                            <h4 class="color-bfhcf-purple">Prayer Service</h4>
                            <p class="">Wednesday: 7:30pm - 8:30pm</p>
                        </div>
                    </div>
                </div>
            </div>
            <p class="lead lead-lg color-white text-center center-block mt-6 mw-800 text-uppercase fw-300 mb-2">If you have questions with regards to the schedules, don't hesitate to contact us.</p>
            <a href="/contact" class="btn btn-white btn-xlg btn-raised color-info"><i class="zmdi zmdi-email"></i> Contact Us</a>
        </div>
    </div> <!-- container -->
</div>