---
layout: default
title: Devotions
---

{% include page-header.liquid title="Devotions" description="Study the word of God and be encouraged." %}

    </div>
    <div class="row">
        <div class="col-lg-12">

            {% assign devotions = site.devotions | sort: 'date' | reverse | limit:10 %}
            {% for devotion in devotions %}
            {% assign member_image = devotion.author | replace: " ", "_" %}
            <article class="card wow fadeInLeft animation-delay-5 mb-4">
                <div class="card-body overflow-hidden overflow-hidden">
                    <div class="row">
                        <div class="col-xl-12">
                            <h3 class="no-mt"><a href="javascript:void(0)">{{ devotion.title }}</a></h3>
                            <p class="mb-4">{{ devotion.excerpt }}.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <img src="{{ site.member_images_url }}/{{ member_image }}.jpg" alt="..." class="rounded-circle mr-1 img-sm"> by {{ devotion.author }}
                            <span class="ml-1 d-none d-sm-inline"><i class="zmdi zmdi-time mr-05 color-info"></i> <span class="color-medium-dark">{{ devotion.date | date_to_string}}</span></span>
                        </div>
                        <div class="col-lg-4 text-right">
                            <a href="{{ devotion.url }}" class="btn btn-primary btn-raised btn-block animate-icon">Read More <i class="ml-1 no-mr zmdi zmdi-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </article>
            {% endfor %}
        </div>
    </div>
</div> <!-- container -->