$bfhcf-red:    #ff5139 !default;
$bfhcf-darkred: #d94531 !default;

$bfhcf-green: #58c31e !default;
$bfhcf-darkgreen: #3c8614 !default;

$bfhcf-teal: #3b8686 !default;
$bfhcf-darkteal: #2c6565 !default;

$bfhcf-purple: #906090 !default;
$bfhcf-darkpurple: #6c486c !default;

$bfhcf-yellow: #ffdf3e !default;
$bfhcf-darkyellow: #cdb330 !default;

$bfhcf-orange: #fea51b !default;
$bfhcf-darkorange: #d08716 !default;

$bfhcf-cyan: #00cbcb !default;
$bfhcf-darkcyan: #009191 !default;

$bfhcf-lime: #a1de45 !default;
$bfhcf-darklime: #7bac32 !default;

$bfhcf-black: #000000 !default;
$bfhcf-darkblack: #000000 !default;