---
layout: default
title: Ministries
---

<div class="material-background"></div>
<div class="text-center mb-6">
    <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">Ministries</h1>
    <p class="lead lead-lg color-white text-center center-block mt-2 mb-4 mw-800 text-uppercase fw-300 animated fadeInUp animation-delay-7">Serve with us in these ministries.</p>
</div>
<div class="container">
    <div class="row">
        {% include ministries.html %}
    </div>
</div> <!-- container -->

{% include cgm-script.html %}