---
layout: default
title: Ministries
---
<div class="ms-hero-page ms-hero-img-mountain ms-hero-bg-primary mb-6">
    <div class="container">
        <div class="text-center">
            <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">Ministries</h1>
            <p class="lead lead-lg color-white text-center center-block mt-2 mb-4 mw-800 text-uppercase fw-300 animated fadeInUp animation-delay-7">Use your God-given talent to <span class="color-warning">serve</span> with us in these ministries. Click on a ministry to see more of its information. </p>
            <a href="/our-beliefs" class="btn btn-raised btn-warning animated fadeInUp animation-delay-10"><i class="zmdi zmdi-book"></i> Statement of Faith </a>
            <a href="/contact" class="btn btn-raised btn-info animated fadeInUp animation-delay-10"><i class="zmdi zmdi-email"></i> Contact Us </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        {% include ministries.html %}
    </div>
</div> <!-- container -->

{% include cgm-script.html %}