---
layout: default
title: Events
---

{% include page-header.liquid title="Events" description="Join and fellowship with us in our upcoming activities. We are looking forward to seeing you." container_class="container-fluid" %}
    <div class="row mb-6">
        <div class="col">
            <div class="row masonry-container">

                {% assign today_date = 'now' | date: '%Y%m%d' %}
                {% for event in site.events %}
                {% assign event_date = event.event_date | date: '%Y%m%d' %}
                {% if event_date >= today_date or event_date == nil %}
                {% include event-card.liquid event=event %}
                {% endif %}
                {% endfor %}</p>
            </div>
        </div>
    </div>
</div> <!-- container -->